version : '3'

services:
  ingress:
    image: graycore/magento-nginx:1.18-alpine-develop
    ports:
      - "80:8000"
      - "443:8443"
    networks:
      - frontend
    depends_on:
      - magento2
  magento2:
    image: graycore/magento-php:7.2-fpm-alpine-develop
    restart: always
    networks:
      - frontend
      - backend
    env_file:
      - ./.env
  database:
      image: mysql:5.7
      volumes:
       - db_data:/var/lib/mysql
       - ./mysql/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
      restart: always
      environment:
            MYSQL_ROOT_PASSWORD: magento2
            MYSQL_DATABASE: magento2
            MYSQL_USER: magento2
            MYSQL_PASSWORD: magento2
      networks:
        - backend
  cache:
    image: redis:5.0
    networks:
      - backend
  message_queue:
    image: rabbitmq:3.5
    networks:
      - backend
  fullpagecache:
    image: redis:5.0
    networks:
      - backend
  sessioncache:
    image: redis:5.0
    networks:
      - backend
  elasticsearch:
    image: elasticsearch:6.8.9
    ports:
      - "9200:9200"
      - "9300:9300"
    networks:
      - backend
    volumes:
      - es_data:/usr/share/elasticsearch/data
networks:
  frontend:
  backend:
volumes:
  db_data:
  es_data:
