name: Validate The Environment

on:
  pull_request:
    paths-ignore:
    - "docs/**"
    - README.md
    branches:
      - dolphin

jobs:
  run:
    strategy:
        matrix:
          COMPOSER_PROJECT: ["magento/project-community-edition=2.3.*", "magento/project-community-edition=2.4.*"]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Get Composer Cache Directory
      id: composer-cache
      run: |
        echo "::set-output name=dir::$(composer config cache-files-dir)"
    - uses: actions/cache@v2
      with:
        path: ${{ steps.composer-cache.outputs.dir }}
        key: ${{ runner.os }}-composer-${{ matrix.COMPOSER_PROJECT }}
        restore-keys: |
          ${{ runner.os }}-composer-
    - name: Add HTTP basic auth credentials for composer
      run: echo '${{ secrets.COMPOSER_AUTH_JSON }}' > ~/.composer/auth.json
    - name: Define the .env
      run: mv .env.sample .env
    - name: Configure the .env
      run: .github/workflows/startup/configure.sh
      env:
        COMPOSER_PROJECT: ${{ matrix.COMPOSER_PROJECT }}
    - name: Build the stack
      run: docker-compose up -d
    - name: Run the setup scripts
      run:  docker exec mage2docker_magento2_1 /bin/sh /root/setup.sh 
    - name: Test
      run: docker run --network container:mage2docker_ingress_1 curlimages/curl -ksf --retry 10 --retry-connrefused https://ingress:8443
